<h2 style="text-align:center" class="pt2">Match Statistics</h2><br>

    <input type="search" style="width:99%" placeholder="Search" (keyup)="applyFilter($event.target.value)">
  

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8"> 

        <ng-container matColumnDef="select" style="color:green">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="season">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Season </th>
          <td mat-cell *matCellDef="let element" > {{element.season}} </td>
        </ng-container>
      
       
        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
          <td mat-cell *matCellDef="let element"> {{element.city}} </td>
        </ng-container>
      
       
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="team-1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Team-1 </th>
          <td mat-cell *matCellDef="let element"> {{element.team1}} </td>
        </ng-container>

        <ng-container matColumnDef="team-2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Team-2 </th>
                <td mat-cell *matCellDef="let element"> {{element.team2}} </td>
        </ng-container>

        <ng-container matColumnDef="winner">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Winner </th>
                <td mat-cell *matCellDef="let element"> {{element.winner}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="venue">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Venue </th>
                <td mat-cell *matCellDef="let element"> {{element.venue}} </td>
        </ng-container> -->
    
          <!-- Comment Column -->
          <ng-container matColumnDef="venue">
            <th mat-header-cell *matHeaderCellDef> Venue </th>
            <td mat-cell *matCellDef="let element" [satPopoverAnchor]="p" (click)="p.open()">
              <ng-container *ngIf="element.venue">
                {{element.venue}}
              </ng-container>
              <span class="add-comment" *ngIf="!element.venue">
                Add a comment
              </span>
    
              <sat-popover #p
                  hasBackdrop
                  xAlign="start"
                  yAlign="start"
                  (closed)="update(element, $event)">
                <inline-edit [value]="element.Venue"></inline-edit>
              </sat-popover>
            </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>
      </table>
          
      
        <button style="background: #3B4990; color:white;" (click)="removeSelectedRows()">Delete</button>
       
