<style>
        /* body {
            font-family: "Lato", sans-serif;
        } */
    
        .sidenav {
            /* height: 100%;
            width: 160px;
            position: fixed;
            z-index: 1;
            top: 5;
            left: 0;
            background:blue;
             -webkit-linear-gradient(-45deg, rgba(228, 245, 252, 1) 0%, rgba(191, 232, 249, 1) 45%, rgba(159, 216, 239, 1) 68%, rgba(42, 176, 237, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cedbe9', endColorstr='#26558b', GradientType=0);
            overflow-x: hidden; */
            padding-top: 200px;
            
            
        }
    
        .sidenav a {
            padding: 6px 8px 6px 16px;
            /* text-decoration: none; */
            /* font-size: 15px; */
            color: #3025258e;
            display: block;
        }
    
        /* .sidenav a:hover {
            color: #e1f00c;
        }
     */
        .main {
            margin-left: 40px;
            /* Same as the width of the sidenav */
            font-size: 28px;
            /* Increased text to enable scrolling */
            padding: 0px 10px;
        }
    
        /* @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }
    
            .sidenav a {
                font-size: 18px;
            }
        } */
        .tags{
            font-size: 125%;
            opacity: 1;
            
        }
    </style>
    
    <body>  
            
       
    
        <mat-drawer-container class="example-container">

                <mat-drawer class="sidee" mode="side" opened>
                        <!-- <img src="assets/images/logo.png" style= "height:40%;width:40%"alt="#"> -->
                        <nav>
                                <a class="navbar-brand" routerLink ="/home">
                                    <img src="assets/images/logo.png" style= "height:90px; margin-left: 15px; margin-top: 40px;"alt="#"></a>
                                    <br><br>
                                    <p class="tags">{{userDisplayName}}</p><br><br><br>
                            <strong class="sidenav">                                   
                                    
                                <a routerLink="/sidebar/overview" class="tags" >Overview</a><br>
                                <a routerLink="/sidebar/batsman_score" class="tags">Batsman Score</a><br>
                                <a routerLink="/sidebar/opponent" class="tags">Team1 vs Team 2</a><br>
                                <a routerLink="/sidebar/search" class="tags">Search</a>   
                              </strong>
                              <br><br><br><br><br><br>
                              <!-- <button (click)="authenticationService.loggedOut()">Logout<span class="sr-only">(current)</span></button> -->
                             
                                    <button (click)="authenticationService.loggedOut()" [disabled]="loading" class="btn btn-primary">
                                        LogOut
                                    </button>
                
                               
                            </nav>
                </mat-drawer>
                
                
                
                <mat-drawer-content class="boy style_center">
               
                    <router-outlet></router-outlet>
                </mat-drawer-content>
                   
                
        </mat-drawer-container>
        <!-- <div class="main">

        </div> -->

      
        
    
    </body>